<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT61A1otp8H7MQmqzhrbv4C3aF8MG7GTc</string>
	<key>GCM_SENDER_ID</key>
	<string>293150473774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecourseFlutterV2</string>
	<key>PROJECT_ID</key>
	<string>ecourse-86eb6</string>
	<key>STORAGE_BUCKET</key>
	<string>ecourse-86eb6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293150473774:ios:386e38cbb333572e3ce9bf</string>
</dict>
</plist>